#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5% 5% 1% 5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn1 {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btnStart {
  margin: 0px;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 10px solid black;
  border-radius: 100%;
  background-color: orange;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  margin-left:10%;
}

.green {
  background-color: green;
  margin-right:10%;
  margin-left:15%;
}

.blue {
  background-color: blue;
  margin-left:10%;
}

.yellow {
  background-color: yellow;
  margin-right:10%;
  margin-left:15%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
